<section class="main-container">
<div class="container h-100" >
    <div class="row h-100">
      <div class="col-md-6 written-body ">
        <div class="content col-12">
        <!-- Left Column: Written Content -->
        <div class="content">
          <app-typing-animation></app-typing-animation>
          <!-- Add some social links here: github, linkedin, instagram , medium, blog-->
        </div>
      </div>
      </div>
      <div class="col-md-6 image-body">
        <div class="content col-12">
        <!-- Right Column: Image -->
        
          <img src="../assets/HomeImg.png" alt="Image Description" class="">
        
      </div>
      </div>
    </div>
  </div>
</section>
