.typing-container{
    display: inline;
}
.blink {
    border-right-style: solid;
    animation: 1s blink infinity;
}

.name-text{
    display: inline;
    font-size: 4em;
    
  }

.typing-component{
    display: inline;
    font-size: 2.5em;
}

@keyframes blink {
    to{
        opacity: 0;
    }
}